---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="MagicPddle">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Services</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Online Services">
          Experience hassle-free access to our exceptional repair services through our convenient online platform. No matter where you are, simply ship your devices to us, and our expert team will take care of the rest. Rest assured, we prioritize the safety of your devices by employing secure packaging and reliable shipping methods, ensuring they are in trustworthy hands.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Mobile Repair">
          Say goodbye to the hassle of bringing your devices to a physical store. Our team of expert technicians is here to provide convenient on-site repairs, right at your home or office. Experience seamless technology solutions without any downtime. And to ensure you're always connected, we even offer loaner devices to keep you productive. Enjoy hassle-free tech support that comes to you.
        </Feature>
        <Feature icon="mdi:looks" title="Main Tech Shop">
          Experience our newly transformed brick and mortar location, now a cutting-edge repair workshop designed exclusively for handling larger projects with utmost precision. Our state-of-the-art tools and meticulous processes ensure top-notch repairs and services. Rest easy knowing that your valuable devices are entrusted to our team of highly skilled technicians, who work diligently in a dedicated and professional environment. With our unwavering commitment to excellence, we deliver unrivaled quality and peace of mind to every customer.
        </Feature>
        <Feature icon="mdi:eslint" title="Computers">
          We specialize in crafting custom computers tailored to meet your unique needs and budget. Our range of MagicPuddle tower and laptop computers comes in three tiers, ensuring the perfect fit for your requirements. Whether you're a gaming enthusiast, a content creator, or have specialized projects, we're excited to design niche computers that cater to your specific demands. Experience the power of technology personalized just for you.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Phones & Tablets">
          Discover our comprehensive range of repair services for phones and tablets. From screen replacements to protective cases and more, we're here to restore your devices to their optimal condition. Our expert technicians specialize in refurbishing phones and tablets, breathing new life into your old devices. Trust us for quality repairs and refurbishments that you can rely on.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Electronics">
          Our expertise extends beyond a specific category of electronics or appliances; we provide repair services for a wide range of devices. Whether it's electronics, appliances, or other gadgets, we have the knowledge and skills to fix them all.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Emergency Services">
          Encountering an issue outside of our usual business hours? We understand the urgency, and we're here to help. Whether it's day or night, you don't have to face it alone. Our dedicated support team is available to assist you promptly. Simply give us a call, and one of our friendly experts will be ready to guide you through the recovery process step by step. If you prefer a more interactive experience, our live chat option is also at your disposal, ensuring real-time assistance tailored to your needs. Rest assured, we're committed to providing you with the support you need, exactly when you need it. Your peace of mind is our priority.
        </Feature>
        <Feature icon="mdi:cog" title="Business Services">
          At MagicPuddle, we are dedicated to meeting your business needs by delivering prompt and collaborative services that generate powerful and long-lasting solutions. Our team understands the importance of agility and cooperation, working closely with you to develop tailored strategies that drive success. Whether you require innovative problem-solving, strategic planning, or efficient execution, we are here to provide comprehensive support and expertise. Partner with MagicPuddle to unlock the full potential of your business.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Support">
          At our company, we take pride in offering comprehensive support tailored to our customers' diverse needs. Our range of support options includes detailed documentation, real-time chat with our dedicated representatives, and supplementary resources like FAQs, a knowledge base, tutorials, and a community forum. Our goal is to provide exceptional customer satisfaction by empowering users to find answers, receive personalized assistance, and access valuable resources.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
